body {
	background-color: #f5f6f5;
}

.container {
	h1 {
		color: #de1dde;
		text-align: center;
	}
}

.header {
	background-color: #fff;
	-webkit-box-shadow:0px 1px 1px #de1dde;
  -moz-box-shadow:0px 1px 1px #de1dde;
  box-shadow:0px 1px 1px #de1dde;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.animate-image {
  position: relative;
  left: 0px;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-image-two {
  position: relative;
  left: 0px;
  -webkit-animation: slideInTwo 2s forwards;
  -moz-animation: slideInTwo 2s forwards;
  animation: slideInTwo 2s forwards;
}
@-webkit-keyframes slideInTwo {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInTwo {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInTwo {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

.weather-box {
  h2 {
    color: #fff;
  }
  p {
    margin: 0;
    padding: 20px;
    color: #fff;
  }
  border: 2px solid #bbb;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: radial-gradient(#d8c6d8, #de1dde);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 700px;
  resize: vertical;
  overflow: auto;
}
